<!DOCTYPE html>
<html xmlns:th:="http://thymeleaf.org">
<title>Crypto Crashout</title>
<body>
<header>
    <h1>Crypto Crashouts</h1>
</header>

<main>
    <p>Your battle has been computed</p>
    <p>Player 1</p>
    <p th:text="${completedBattle.getPlayer1Id()}"></p>

    <p>Player 2</p>
    <p th:text="${completedBattle.getPlayer2Id()}"></p>

    <p th:if="${completedBattle.getWinner()} == ${battleQueNum}">You won!!</p>
    <p th:unless="${completedBattle.getWinner()} == ${battleQueNum}">You lost!</p>

    <p>A very cool battle animation or screen will now appear and you will be very impressed</p>

    <a th:href="@{/home/} + ${userId}">Home</a>
</main>
</body>
</html>