<!DOCTYPE html>
<html xmlns:th:="http://thymeleaf.org">
<title>Crypto Crashout</title>
<body>
<header>
    <h1>Crypto Crashouts</h1>
</header>

<main>
    <h1>Welcome to Crypto Crashouts!</h1>

    <!-- Enter wallet addresses -->
    <p>Please enter your wallet address for each crypto type</p>

    <form th:action="@{/addwallets}" method="post">
        <label for="btc">Bitcoin</label>
        <input type="text" id="btc" name="btc"><br>

        <label for="eth">Ethereum</label>
        <input type="text" id="eth" name="eth"><br>

        <label for="doge">Doge coin</label>
        <input type="text" id="doge" name="doge"><br>

        <button type="submit">Add wallets</button>
    </form>
</main>
</body>
</html>