<!DOCTYPE html>
<html xmlns:th:="http://thymeleaf.org">

<head>
    <link th:href="@{/styles/landing_style.css}" rel="stylesheet" >
    <title>Crypto Crashout</title>
</head>

<body>
<header id="main-header">
    <h1 class="header-title">Crypto Crashouts</h1>
</header>

<main id="main-content">
    <h1 class="welcome-message">Welcome to Crypto Crashouts!</h1>

    <!-- Enter wallet addresses -->
    <p class="intro-text">Please enter your wallet address for each crypto type</p>

    <form th:action="@{/addwallets}" method="post" class="wallet-form">
        <label for="btc" class="form-label">Bitcoin</label>
        <input type="text" id="btc" name="btc" class="form-input"><br>

        <label for="eth" class="form-label">Ethereum</label>
        <input type="text" id="eth" name="eth" class="form-input"><br>

        <label for="doge" class="form-label">Doge coin</label>
        <input type="text" id="doge" name="doge" class="form-input"><br>

        <label for="matic" class="form-label">Polygon:</label>
        <input type="text" id="matic" name="matic" class="form-input"><br>

        <button type="submit" class="form-button">Add wallets</button>
    </form>
</main>
</body>
</html>
